<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg-signa">
  <div class="col-md-6 p-lg-6 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">404</h1>
    <p class="lead font-weight-normal">Sorry...</p>
    <a class="btn btn-outline-secondary bg-light" href="#">Back</a>
  </div>
</div>