<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg-signa">
  <div class="col-md-6 p-lg-6 mx-auto my-5">
    <h1 class="error500 display-4 font-weight-bold">{{{__ "Error500"}}}</h1>
    <p class="error500 lead font-weight-normal">{{{__ "ServerError"}}}</p>
    <a class="btn btn-outline-secondary bg-light" href="/">{{{__ "Home"}}}</a>
  </div>
</div>

{{#contentFor "pageStyles"}}
<style type="text/css">
  .error500 {
    font-family: 'Inconsolata', monospace;
  }
</style>
{{/contentFor}}