<div class="position-relative overflow-hidden p-3 p-md-4 m-md-3 text-center bg-light">
  <div class="card col-md-4 p-lg-1 mx-auto my-1">
    <div class="card-body text-left">
      <h5 class="card-title text-center">Welcome {{user.shortName}}</h5>
      <div class="alert alert-success text-center">
        <p>Work In Progress...</p>
      </div>
    </div>
  </div>
</div>

{{#contentFor "pageStyles"}}
<style type="text/css">

</style>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script type="text/javascript">
  $(function () {
    console.log('dashboard')
  }
})
</script>
{{/contentFor}}