<ul class="nav nav-tabs mx-3 mt-3" id="dashboardTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects"
      aria-selected="false">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Profile{{#if dataCompletionRequired}}&nbsp;<span class="ml-2 badge badge-pill badge-warning">!</span>{{/if}}</a>
  </li>
</ul>
<div class="tab-content" id="dashboardTabContent">
  <div class="tab-pane fade p-3 mx-3 text-center bg-light" id="home" role="tabpanel"
    aria-labelledby="home-tab">
    <div class="card col-md-4 p-lg-1 mx-auto my-1">
      <div class="card-body text-left">
        <h5 class="card-title text-center">Welcome {{user.shortName}}</h5>
        <div class="alert alert-success text-center">
          <p>Work In Progress...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade p-3 mx-3 text-center bg-light" id="projects" role="tabpanel" aria-labelledby="projects-tab">
    &nbsp;
  </div>
  <div class="tab-pane fade p-3 mx-3 text-center bg-light" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    {{#if dataCompletionRequired}}
    <div class="alert alert-warning text-center">
      <p>Merci de bien vouloir compléter votre profil afin de bénéficier d'une meilleure expérience d'utilisation !</p>
    </div>
    {{else}}
    &nbsp;
    {{/if}}
  </div>
</div>

{{#contentFor "pageStyles"}}
<style type="text/css">

</style>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script type="text/javascript">
  $(function () {
    if ({{dataCompletionRequired}}) {
      $('#dashboardTab a[href="#profile"]').tab('show')
    } else {
      $('#dashboardTab a[href="#home"]').tab('show')
    }
  })
</script>
{{/contentFor}}