/*
@font-face {
  font-family: "Inconsolata";
  font-weight: normal;
  src: url("../webfonts/Inconsolata-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url("../webfonts/Inconsolata-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("../webfonts/Roboto-Regular.ttf") format("ttf"), url("../webfonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../webfonts/Roboto-Bold.ttf") format("ttf"), url("../webfonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: italic;
  src: url("../webfonts/Roboto-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: italic;
  src: url("../webfonts/Roboto-BoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Lora";
  font-weight: normal;
  src: url("../webfonts/Lora-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Lora";
  font-weight: bold;
  src: url("../webfonts/Lora-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Lora";
  font-weight: normal;
  font-style: italic;
  src: url("../webfonts/Lora-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Lora";
  font-weight: bold;
  font-style: italic;
  src: url("../webfonts/Lora-BoldItalic.ttf") format("ttf");
}
*/

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*
font-family: 'Lora', serif;
*/

body {
  font-family: 'Roboto', sans-serif;
}

pre,
code,
kbd,
samp {
  font-family: 'Inconsolata', monospace;
}

.tooltip,
.popover {
  font-family: 'Roboto', sans-serif;
}

.font-monospace {
  font-family: 'Inconsolata', monospace !important;
}

#logo-header {
  height: 24px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2px;
}

#logo-cnd-footer {
  height: 18px;
}

#logo-agpl-footer {
  position: relative;
  height: 22px;
  top: 3px;
  left: 5px;
}

.bg-signa {
  background: url(/images/logo_faded.png) center no-repeat;
  background-size: 25%;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.popover-header {
  font-size: 12px;
}

.popover-body {
  font-style: italic;
  font-size: 12px;
}

.overflow-hidden {
  overflow: hidden;
}

.text-underlined {
  text-decoration: underline;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

#toasts-wrapper {
  position: fixed;
  top: 68px;
  right: 18px;
}

#toasts-container {
  position: absolute;
  top: 0;
  right: 0;
}

.toast {
  min-width: 350px;
}

.badge-pill {
  position: relative;
  top: -2px;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
